__pycache__/
.pytest_cache/
.vscode/
venv/
*.pyc
error.log
debug.log
mihomo_startup.log
cache.db
clash_startup.log
*.log
!data/
!data/*.txt
!data/*.csv
!skipped_nodes.log
output/invalid_iptv_sources.log
output/final_iptv_sources.txt
link_cache.sqlite
